p.109
pandas

In [3]:
np.random.normal(60,5,(25))

array([58.6284439 , 60.9787752 , 55.98394439, 61.61459778, 63.54016522,
       67.28090957, 48.06105306, 55.15972436, 67.69129908, 53.79638474,
       58.67272262, 59.1940146 , 51.61259237, 62.5577318 , 57.0784149 ,
       59.83216363, 61.0664861 , 60.05207378, 60.1225576 , 56.47681672,
       64.88421756, 58.92613391, 58.64484431, 61.57435147, 53.63067001])

In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.3.1'

In [ ]:
#iris.csv 불러오기
df=pd.read_csv('iris.csv')

In [20]:
type(df)

pandas.core.frame.DataFrame

In [7]:
#data구조 대략적으로 살펴볼때 (괄호안에는 갯수)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
# 전체적인 정보(행,열,데이터타입,등등등)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
# 기본통계요약정보(데이터개수,평균,표준편차 ...)
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
# df.describe() => 이 결과 전치(transpose)
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal.length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal.width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal.length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal.width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [11]:
# 마지막열 전체를 선택해서 출력
df.iloc[:,-1]

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [12]:
# 마지막열 을 제외한 모든 열 출력
df.iloc[:,:-1]

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [13]:
# 슬라이싱 어려우면 더 쉬운방법
col = ['sepal.length',	'sepal.width',	'petal.length',	'petal.width']
df[col]

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [14]:
x = df[col]
y = df.iloc[:,-1]
x,y

(     sepal.length  sepal.width  petal.length  petal.width
 0             5.1          3.5           1.4          0.2
 1             4.9          3.0           1.4          0.2
 2             4.7          3.2           1.3          0.2
 3             4.6          3.1           1.5          0.2
 4             5.0          3.6           1.4          0.2
 ..            ...          ...           ...          ...
 145           6.7          3.0           5.2          2.3
 146           6.3          2.5           5.0          1.9
 147           6.5          3.0           5.2          2.0
 148           6.2          3.4           5.4          2.3
 149           5.9          3.0           5.1          1.8

 [150 rows x 4 columns],
 0         Setosa
 1         Setosa
 2         Setosa
 3         Setosa
 4         Setosa
          ...
 145    Virginica
 146    Virginica
 147    Virginica
 148    Virginica
 149    Virginica
 Name: variety, Length: 150, dtype: object)

In [15]:
# numpy 배열 형태로 변경 (마지막열의 데이터)
data = df.iloc[:,-1].values
data.shape

(150,)

series

In [16]:
# series
y.shape,type(y)

((150,), pandas.core.series.Series)

In [17]:
pd.Series([1,2,3,4,])

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
pd.Series([1,2,3,4,], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [23]:
d = {
    'a':1,
    'b':2,
    'c':3
}

pd.Series(d)

a    1
b    2
c    3
dtype: int64

dataFrame

In [42]:
d = {
    'a':1,
    'b':2,
    'c':3
}

pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [43]:
type(df)

pandas.core.frame.DataFrame

In [44]:
pd.DataFrame({'d1':d,'d2':d})

   d1  d2
a   1   1
b   2   2
c   3   3

In [46]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [40]:
df.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [41]:
df['d1']

KeyError: 'd1'

In [51]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [52]:
# 인덱스
idx = pd.Index([1,2,3,4])
idx

Index([1, 2, 3, 4], dtype='int64')

In [55]:
# 슬라이싱
idx[3], idx[-1], idx[1:3]

(np.int64(4), np.int64(4), Index([2, 3], dtype='int64'))

In [56]:
# 객체의 속성 (개수, 타입)
idx.shape, idx.dtype

((4,), dtype('int64'))

In [ ]:
# 안됨(인덱스,스트링,튜플)
idx[1] = 999

s = 'hello'
s[0] = 'H'

t = (1,2,3)
t[0] = 999

In [59]:
# 인덱스 집합

idx1 = pd.Index([1,3,5,6,9])
idx2 = pd.Index([2,3,5,7,11])

In [ ]:
# 교집합(intersection)
idx1.intersection(idx2)

Index([0, 3, 5, 6, 9], dtype='int64')

In [ ]:
# 합집합(union) 
idx1.union(idx2)

Index([3, 3, 5, 7, 11], dtype='int64')

In [ ]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [66]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
# pandas DataFrame에서 특정 컬럼을 선택하고, 
# 그 컬럼이 어떤 자료형인지 확인하는 코드예요
# col1 => series 1차원 배열같은 자료구조
col1 = df['sepal.length']
type(col1)

pandas.core.series.Series

In [68]:
col1 = df['sepal.length']
col2 = df['sepal.width'	]

In [69]:
pd.DataFrame({
    'sepal.length': col1,
    'sepal.width':col2
})

     sepal.length  sepal.width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [ ]:
# df의 열 검색
df.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [ ]:
# df의 열
df.columns=['sepal.length', 'sepal.width', 'petal.length', 'petal.width','variety']

In [74]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
# 새로운 열(컬럼) 추가
df['aaa'] = df['sepal.length'] - df['sepal.width']

In [77]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6
1           4.9          3.0           1.4          0.2  Setosa  1.9
2           4.7          3.2           1.3          0.2  Setosa  1.5
3           4.6          3.1           1.5          0.2  Setosa  1.5
4           5.0          3.6           1.4          0.2  Setosa  1.4

In [ ]:
# 선택컬럼 출력1
df[['sepal.length','sepal.width']]

     sepal.length  sepal.width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [ ]:
#선택컬럼 출력2 (이게 더 자주쓰임)
col=['sepal.length','variety']
df[col]

     sepal.length    variety
0             5.1     Setosa
1             4.9     Setosa
2             4.7     Setosa
3             4.6     Setosa
4             5.0     Setosa
..            ...        ...
145           6.7  Virginica
146           6.3  Virginica
147           6.5  Virginica
148           6.2  Virginica
149           5.9  Virginica

[150 rows x 2 columns]

In [80]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6
1           4.9          3.0           1.4          0.2  Setosa  1.9
2           4.7          3.2           1.3          0.2  Setosa  1.5
3           4.6          3.1           1.5          0.2  Setosa  1.5
4           5.0          3.6           1.4          0.2  Setosa  1.4

In [ ]:
# 숫자
# pandas에서 행(row)이나 열(column)을 번호(숫자 인덱스)로 선택할 때 사용
df.iloc[:20, :4]

    sepal.length  sepal.width  petal.length  petal.width
0            5.1          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          3.2           1.3          0.2
3            4.6          3.1           1.5          0.2
4            5.0          3.6           1.4          0.2
5            5.4          3.9           1.7          0.4
6            4.6          3.4           1.4          0.3
7            5.0          3.4           1.5          0.2
8            4.4          2.9           1.4          0.2
9            4.9          3.1           1.5          0.1
10           5.4          3.7           1.5          0.2
11           4.8          3.4           1.6          0.2
12           4.8          3.0           1.4          0.1
13           4.3          3.0           1.1          0.1
14           5.8          4.0           1.2          0.2
15           5.7          4.4           1.5          0.4
16           5.4          3.9           1.3          0.4
17           5.1          3.5           1.4          0.3
18           5.7          3.8           1.7          0.3
19           5.1          3.8           1.5          0.3

In [89]:
#문자
# pandas에서 행(row)이나 열(column)을 문자로 선택할 때 사용
df.loc[:, 'sepal.length': 'petal.length']

     sepal.length  sepal.width  petal.length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [87]:
df[:1]

   sepal.length  sepal.width  petal.length  petal.width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6

In [ ]:
# 마스크
mask = df['sepal.length'] > 5
df[mask]

     sepal.length  sepal.width  petal.length  petal.width    variety  aaa
0             5.1          3.5           1.4          0.2     Setosa  1.6
5             5.4          3.9           1.7          0.4     Setosa  1.5
10            5.4          3.7           1.5          0.2     Setosa  1.7
14            5.8          4.0           1.2          0.2     Setosa  1.8
15            5.7          4.4           1.5          0.4     Setosa  1.3
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  Virginica  3.7
146           6.3          2.5           5.0          1.9  Virginica  3.8
147           6.5          3.0           5.2          2.0  Virginica  3.5
148           6.2          3.4           5.4          2.3  Virginica  2.8
149           5.9          3.0           5.1          1.8  Virginica  2.9

[118 rows x 6 columns]

In [92]:
df[:0]

Empty DataFrame
Columns: [sepal.length, sepal.width, petal.length, petal.width, variety, aaa]
Index: []

In [ ]:
# 'sepal.length'이 컬럼의 요소들에 +1
df['sepal.length']+1

0      6.1
1      5.9
2      5.7
3      5.6
4      6.0
      ...
145    7.7
146    7.3
147    7.5
148    7.2
149    6.9
Name: sepal.length, Length: 150, dtype: float64

In [94]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6
1           4.9          3.0           1.4          0.2  Setosa  1.9
2           4.7          3.2           1.3          0.2  Setosa  1.5
3           4.6          3.1           1.5          0.2  Setosa  1.5
4           5.0          3.6           1.4          0.2  Setosa  1.4

In [ ]:
# numpy -> 복사x 뷰o
# pandas -> 복사o
new_df = df.iloc[:, :4].copy()

In [97]:
new_df.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
# numpy 함수 : 모든 원소에 대해 자연지수 함수 (eˣ)를 적용
np.exp(new_df)

     sepal.length  sepal.width  petal.length  petal.width
0      164.021907    33.115452      4.055200     1.221403
1      134.289780    20.085537      4.055200     1.221403
2      109.947172    24.532530      3.669297     1.221403
3       99.484316    22.197951      4.481689     1.221403
4      148.413159    36.598234      4.055200     1.221403
..            ...          ...           ...          ...
145    812.405825    20.085537    181.272242     9.974182
146    544.571910    12.182494    148.413159     6.685894
147    665.141633    20.085537    181.272242     7.389056
148    492.749041    29.964100    221.406416     9.974182
149    365.037468    20.085537    164.021907     6.049647

[150 rows x 4 columns]

In [104]:
new_df.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [111]:
# 누락
new_df['sepal.length'][1:] / new_df['petal.width']

0            NaN
1      24.500000
2      23.500000
3      23.000000
4      25.000000
         ...
145     2.913043
146     3.315789
147     3.250000
148     2.695652
149     3.277778
Length: 150, dtype: float64

In [5]:
# 149개
new_df['sepal.length'][1:]

NameError: name 'new_df' is not defined

In [4]:
# 150개
new_df['petal.width']

NameError: name 'new_df' is not defined

In [112]:
new_df['sepal.length'][1:] + new_df['petal.width']

0      NaN
1      5.1
2      4.9
3      4.8
4      5.2
      ...
145    9.0
146    8.2
147    8.5
148    8.5
149    7.7
Length: 150, dtype: float64

In [113]:
new_df['sepal.length'][1:].add( new_df['petal.width'], fill_value=0)

0      0.2
1      5.1
2      4.9
3      4.8
4      5.2
      ...
145    9.0
146    8.2
147    8.5
148    8.5
149    7.7
Length: 150, dtype: float64

In [ ]:
# new_df.isna() => 누락된데이터 찾기
np.sum(new_df.isna())

c:\Users\user\miniconda3\envs\aip_39\lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

(sepal.length    0
 sepal.width     0
 petal.length    0
 petal.width     0
 dtype: int64,
 'nan')

In [ ]:
# 누락된 데이터 만들기
new_df['petal.width'][3] = None

In [ ]:
# 누락됐는지 확인 => NaN
new_df['petal.width']

0      0.2
1      0.2
2      0.2
3      NaN
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal.width, Length: 150, dtype: float64

In [120]:
# 누락됐는지 확인 => True(3,petal.width)
new_df.isna()

     sepal.length  sepal.width  petal.length  petal.width
0           False        False         False        False
1           False        False         False        False
2           False        False         False        False
3           False        False         False         True
4           False        False         False        False
..            ...          ...           ...          ...
145         False        False         False        False
146         False        False         False        False
147         False        False         False        False
148         False        False         False        False
149         False        False         False        False

[150 rows x 4 columns]

In [ ]:
# pandas에서 NaN이 아닌 값인지 확인하는 함수
new_df.notna()

     sepal.length  sepal.width  petal.length  petal.width
0            True         True          True         True
1            True         True          True         True
2            True         True          True         True
3            True         True          True        False
4            True         True          True         True
..            ...          ...           ...          ...
145          True         True          True         True
146          True         True          True         True
147          True         True          True         True
148          True         True          True         True
149          True         True          True         True

[150 rows x 4 columns]

In [ ]:
# pandas에서 결측값(NaN)이 포함된 행(row)을 제거하는 함수
new_df.dropna()

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

In [3]:
new_df.dropna().info()

NameError: name 'new_df' is not defined

In [128]:
# 제거한후 저장해야함
new_df2=new_df.dropna()

In [ ]:
# 저장하면 변경됨 149개
new_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  149 non-null    float64
 1   sepal.width   149 non-null    float64
 2   petal.length  149 non-null    float64
 3   petal.width   149 non-null    float64
dtypes: float64(4)
memory usage: 5.8 KB

In [2]:
# 저장안하면 그대로 150개
new_df.info()

NameError: name 'new_df' is not defined

In [1]:
new_df.fillna(0)

NameError: name 'new_df' is not defined